---
import { SITE_TITLE, SITE_DESCRIPTION } from '../../consts';
import FormattedDate from '../../components/layouts/FormattedDate.astro';
import SiteLayout from '../../layouts/SiteLayout.astro';
import { getBlogCollection } from '../../content/blog-content';
import BlogItem from '../../components/blog/BlogItem.astro';

const posts = await getBlogCollection();
const featuredPosts = posts.filter((post) => post.data.featured === true);
const regularPosts = posts.filter((post) => post.data.featured !== true);
---

<SiteLayout title={SITE_TITLE} description={SITE_DESCRIPTION}>
    {featuredPosts.length > 0 && (
        <section class="featured">
            <h2>Featured Posts</h2>

            <ul>
                { featuredPosts.map((post) => (<li><BlogItem post={post} featured={true} /></li>))}
            </ul>
        </section>
    )}

    {regularPosts.length > 0 && (
        <section class="regular">
            <h3>More Posts</h3>
            <ul>
                { regularPosts.map((post) => (<li><BlogItem post={post} /></li>))}
            </ul>
        </section>
    )}
</SiteLayout>

<style>
    ul {
        display: flex;
        flex-wrap: wrap;
        gap: 2rem;
        list-style-type: none;
        margin: 0;
        padding: 0;
    }
    .featured ul li {
        width: 100%;
    }
    .regular ul li {
        width: calc(50% - 1rem);
    }
</style>
